/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
}
h1 {
    color: rgb(128, 0, 0);
}

h2 {
    color:darkblue;
}
body{
    font-family: 'Shadows into Light', sans-serif;
    font-weight: 400;
    font-size: 24 px;
}
.boldWords{
    text-decoration: underline;
    font-style: italic;
}
a{
    color: #357b70; 
}

a:visited {
    color: #05676e;
}

a:hover, a:focus {
    text-decoration: none;
}
a:active {
    color: #05676e;
}

button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,.3);
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.resbutton {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,.3);
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}
.resbutton:hover , .resbutton:focus, button:hover , button:focus {
    cursor: pointer;
    opacity: .8 ;
}

.main_logo {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
    border: solid;
}
.page-footer{
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.profile{
    max-width: 700px;
    margin: 0 auto;
}
.corner_logo{
    width: 80px;
    height: auto;
}

.page-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header_item{
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
.navigation-list{
    list-style-type: none;
}

.navigation-list li{
    display: inline-block;
    margin-left: 15px;
}
.about_body{
    margin-left: 20px;
}
.contact_body{
    margin-left: 20px;
}
.work_body{
    margin-left: 20px;
}
.grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.grid_item{
    background-color: #ffb6c1;
    padding: 20px;
}
.page_title{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
table, th, td{
    border: 1px solid;
}
table{
    border-collapse: collapse;
}
@media all and (max-width: 500px){
    .grid{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .grid_item:last-child{
        grid-column: auto auto;
        grid-row: auto auto;
    }
    h1{
        font-size: 22px;
    }
}
@-webkit-keyframes mass-spin{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }

}
@keyframes mass-spin{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }

}
.mass_logo{
    float: right;
    width: 250px;
    height: auto;
    margin-left: 40px;
    border-radius: 50%;
    border: solid;
    -webkit-animation: 3s mass-spin infinite alternate linear;
            animation: 3s mass-spin infinite alternate linear;
}